$--bg-shadow: rgba(0, 0, 0, 0.1);
$--bg-primary: #fff;
$--bg-hover: #f6f6f5;

// $deep-color: #35495e;
$primary-color: #42b883; // 全局主色
$link-color: #42b883; // 链接色
$success-color: #52c41a; // 成功色
$warning-color: #faad14; // 警告色
$error-color: #f5222d; // 错误色
$font-size-base: 14px; // 主字号
$heading-color: rgba(0, 0, 0, 0.85); // 标题色
$text-color: rgba(0, 0, 0, 0.65); // 主文本色
$text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
$disabled-color: rgba(0, 0, 0, 0.25); // 失效色
$border-radius-base: 2px; // 组件/浮层圆角
$border-color-base: #d9d9d9; // 边框色
$box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // 浮层阴影
html {
  height: 100%;
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-rendering: optimizeLegibility;
}

html body {
  font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
}

.ant-layout-header {
  background-color: transparent;
  padding: 0;
  line-height: normal;
  margin: 16px 24px;
}

.ant-layout-content {
  overflow-x: hidden;
}

.ant-layout-footer {
  display: flex;
  align-items: center;
  padding: 16px;
  margin: 16px 24px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px 0px rgb(0 0 0 / 5%);
}

.ant-layout {
  height: 100%;
  overflow: hidden;
  background-color: #faf9f8;
}

.ant-dropdown-menu {
  border-radius: 4px;
}

.flex-center {
 display: flex;
 justify-content: center;
 align-items: center;
}